<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Private Chat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/chat.css">
    </head>
    <body>
        <a href="users/<%=user._id%>">hehe</a>
        <div id="contentWrapper">
            <div id="tabSwitcher">
                <p id="general">General</p>
                <p id="sensitive">Sensitive</p>
            </div>

            <ul class="general messages">
                <!-- Loading messages from our DB -->
                <% allGeneral.forEach(message => { %>
                    <li>
                        <p class="messageAuthor"> <%=message.authorname%> </p>
                        <p class="messageContent"><%=message.message%></p>
                        <% if (message.authorid == user._id) { %>
                            <div class="options">
                                <p><%=message._id%></p>
                                <button class="delete">delet</button>
                            </div>
                        <% } %>
                    </li>
                <% }) %>
                <!-- We'll be appending messages here using code -->
            </ul>
            <ul class="private messages">
                <!-- Loading messages from our DB -->
                <% allPrivate.forEach(message => { %>
                    <li>
                        <p class="messageAuthor"> <%= message.authorname %> </p>
                        <p class="messageContent"> <%= message.message %> </p>
                        <div class="options">
                            <p><%=message._id%></p>
                            <button class="delete">delet</button>
                        </div>
                    </li>
                <% }) %>
                <!-- We'll be appending messages here using code -->
            </ul>
        </div>

        
        <form id="form" action="">
            <input id="input" autocomplete="off"/>
            <button id="send">Send</button>
        </form>


        <script>
            // EJS looks kind of ugly. We'll pass the necessary info to our
            // chat.js file in the following, hack-y way.
            const username = "<%= user.username %>";
            const userId = <%= user._id %>;
                // Whatever is within these script tags, is now accessable within
                // all our script tags, including the chat.js file, which is in a
                // script tag right down below.
        </script>


        <!-- This script tag is needed in order to use socket.js on the client-side -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- This is the actual messing about we do using the socket.io capabilities -->
        <script src="../js/chat.js"></script>
    </body>
</html>